@charset "UTF-8";

@import "vars";
@import "inuit.css/inuit"; 
@import "ui/grids";


@font-face {
	font-family: 'Open-Sans-Light'; src: url("fonts/OpenSans-Light.ttf") format('truetype');
}

@font-face {
	font-family: 'Open Sans Regular'; src: url("fonts/OpenSans-Regular.ttf") format('truetype');
}

html, body {
	background-color:#F8F8F8;
	height: 100%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
}

a {
	color: $link-colour;
	text-decoration:none;
	&:visted {
		color: $link-colour;
	}
}

.hide {
	display:none;
}

.white-bg {
	background-color:#fff;
}

input[type="text"], input[type="number"], input[type="email"], input[type="url"], input[type="password"], input[type="tel"] {
	-webkit-appearence:none;
	border: 1px solid #ccc;
	padding: 5px 10px;
	@include border-radius(4px);
	&:focus {
    	outline-width: 0;
		border: 1px solid $raktronics-orange;
    }
    &::-webkit-input-placeholder {
    	color:#8F8F8F;
		font-size:13px;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
		font-weight: 300;
    }
}

.success_callout {
	background-color: #DFF0D9;
	margin: 20px 0;
	padding: 20px;
	border-left: 3px solid #3B764A;
	h4 {
		color: #2A542E;
		margin-top: 0;
		margin-bottom: 5px;
	}
	p{
		margin:0;
	}
}

.error_callout {
	background-color: #F3DEDE;
	margin: 20px 0;
	padding: 20px;
	border-left: 3px solid #AB4344;
	h4 {
		color: #983435;
		margin-top: 0;
		margin-bottom: 5px;
	}
	p{
		margin:0;
	}
}


@import "ui/header";
@import "ui/footer";
@import "ui/home";
@import "ui/page";

@import "ui/elements";

@import "ui/404";


